{
  "importOrder": [
    "^@model/(.*)$",
    "^@store/(.*)$",
    "^@readers/(.*)$",
    "^@utils/(.*)$",

    "^@assets/(.*)$",
    "^@components/(.*)$",

    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
