{
  "importOrder": [
    "^@assets/(.*)$",
    "^@model/(.*)$",
    "^@store/(.*)$",
    "^@utils/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
