/* 
 * Custom TailwinCSS-styled dockview theme based on dockview-theme-light
 * 
 * https://github.com/mathuo/dockview/blob/v4.13.1/packages/dockview-core/src/theme.scss
 */

@import "dockview-react/dist/styles/dockview.css";

.dockview-theme-tailwindcss {
  /* dockview-theme-core-mixin */
  --dv-paneview-active-outline-color: dodgerblue;
  --dv-tabs-and-actions-container-font-size: 13px;
  --dv-tabs-and-actions-container-height: 35px;
  --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
  --dv-drag-over-border-color: transparent;
  --dv-tabs-container-scrollbar-color: #888;
  --dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
  --dv-floating-box-shadow: 8px 8px 8px 0px rgba(83, 89, 93, 0.5);
  --dv-overlay-z-index: 999;

  --dv-tab-font-size: inherit;
  --dv-border-radius: 0px;
  --dv-tab-margin: 0;
  --dv-sash-color: transparent;
  --dv-active-sash-color: transparent;
  --dv-active-sash-transition-duration: 0.1s;
  --dv-active-sash-transition-delay: 0.5s;

  /* dockview-theme-light-mixin */
  --dv-group-view-background-color: white;
  --dv-tabs-and-actions-container-background-color: #f3f3f3;
  --dv-activegroup-visiblepanel-tab-background-color: white;
  --dv-activegroup-hiddenpanel-tab-background-color: #ececec;
  --dv-inactivegroup-visiblepanel-tab-background-color: white;
  --dv-inactivegroup-hiddenpanel-tab-background-color: #ececec;
  --dv-tab-divider-color: white;
  --dv-activegroup-visiblepanel-tab-color: rgb(51, 51, 51);
  --dv-activegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.7);
  --dv-inactivegroup-visiblepanel-tab-color: rgba(51, 51, 51, 0.7);
  --dv-inactivegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.35);

  --dv-separator-border: rgba(128, 128, 128, 0.35);
  --dv-paneview-header-border-color: rgb(51, 51, 51);

  --dv-scrollbar-background-color: rgba(0, 0, 0, 0.25);

  /* custom overrides */
  --dv-paneview-active-outline-color: var(--primary);
  --dv-tab-close-icon: var(--destructive);
  --dv-drag-over-background-color: var(--muted);
  --dv-drag-over-border-color: var(--border);
  --dv-tabs-container-scrollbar-color: var(--muted-foreground);
  --dv-group-view-background-color: var(--background);
  --dv-tabs-and-actions-container-background-color: var(--card);
  --dv-activegroup-visiblepanel-tab-background-color: var(--card);
  --dv-activegroup-hiddenpanel-tab-background-color: var(--muted);
  --dv-inactivegroup-visiblepanel-tab-background-color: var(--card);
  --dv-inactivegroup-hiddenpanel-tab-background-color: var(--muted);
  --dv-tab-divider-color: var(--border);
  --dv-activegroup-visiblepanel-tab-color: var(--destructive);
  --dv-activegroup-hiddenpanel-tab-color: var(--muted-foreground);
  --dv-inactivegroup-visiblepanel-tab-color: var(--muted-foreground);
  --dv-inactivegroup-hiddenpanel-tab-color: var(--muted-foreground);
  --dv-separator-border: var(--border);
  --dv-paneview-header-border-color: var(--border);
  --dv-icon-hover-background-color: var(--accent);
  --dv-active-sash-color: var(--primary);
  --dv-background-color: var(--background);
}

.dockview-theme-tailwindcss
  .dv-drop-target-container
  .dv-drop-target-anchor.dv-drop-target-anchor-container-changed {
  /* dockview-drop-target-no-travel mixin */
  opacity: 0;
  transition: none;
}
