name: CI
on:
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint-format-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Build project
        run: |
          pnpm run build:nodocs
          pnpm run --filter docs build
      - name: Run linter
        run: pnpm run lint
      - name: Check formatting
        run: pnpm run fmt:check
      - name: Run tests
        run: pnpm run test
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: ./coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: ./coverage
          fail_ci_if_error: true
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
